.task_Completed{
    color: rgb(7, 214, 149);
}
.task_Working{
    color: rgb(231, 217, 18);
}
.task_Not_Completed{
    color: rgb(255, 96, 96);
}


/* Mobile company minutes & internet cost calculation Button Css */
.calculator-box, .internet-cost-box {
    display: none;
}

.result-box {
    display: none;
    border: 0px solid #727272;
    padding: 0px;
    border-radius: 4px;
    font-size: 11px;
}
.calculator-box h2, .internet-cost-box h2{
    color: #fff;
}

.calculator-box p, .internet-cost-box p{
    padding: 0px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold; 
}
